*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(177, 231, 235)
}

.main-form{
    padding: 5% 0 0 20%;
}

.qn-container {
    /* border: 1px solid black; */
    padding: 20px;
    margin: 20px;
    width: 60%;
    border-radius: 10px;
    background-color: rgb(177, 231, 235)
}

.question, .option{
    margin: 8px;
}

.submit-btn{
    border: none;
    margin: 10px 20px;
    padding: 16px;
    border-radius: 5px;
    background-color: rgb(11, 112, 112);
    color: white;
    cursor: pointer;
}

.result-container{
    display: none;
    /* border: 1px solid black; */
    margin: 5% 15%;
    border-radius: 10px;
    background-color: rgb(177, 231, 235);
}

.assessment-title{
    font-size: 27px;
    margin: 20px;
    text-align: center;
    font-weight: bold;
}

.score{
    margin-top: 3em;
    font-size: 18px;
}

.ans-title{
    font-size: 17px;
    margin-top: 30px;
}

.ans-list{
    margin-bottom: 20px;
}

.score, .ans-title, .ans-list{
    margin-left: 3em;
}

.answer{
    margin: 15px 20px;
} 