* {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 94vh;
    background-color: rgb(238, 237, 240);
}

.container {
    border: 1px solid rgb(205, 159, 249);
    border-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
}

.title {
    font-size: 23px;
    font-weight: bold;
    color:blueviolet;
}

.form {
    margin-top: 20px;
}

label {
    font-size: 16px;
}

input {
    width: 300px;
    margin: 20px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid black;
}

.submit-btn {
    text-align: center;
    margin-top: 20px;
    padding: 16px;
    background: #2e00a1;
    background: linear-gradient(90deg, rgba(46, 0, 161, 1) 0%, rgba(199, 87, 87, 1) 100%, rgba(237, 83, 139, 1) 100%);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

input:focus {
    outline: none;
    box-shadow: 1px 1px 17px 2px rgba(106, 255, 55, 0.43);
}