* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-list {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    background-image: linear-gradient(to right, #2F284E, #7061b3);
}

body{
    position: fixed;
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
}

.main-container{
    width: 100%;
}

.background-overlay {
    display: none;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: 1; 
    position: fixed; 
    top: 0;
}

.users-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6vh 0;
    height: 77vh;
    overflow: auto;
}

.users-table table,.users-table tr,.users-table th,.users-table td {
    border: 1px solid gray;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}

.table-head{
    background-image: linear-gradient(to right, #2F284E, #7061b3);
    color: white;
}

.actions{
    display: flex;
}

.actions span{
    margin: 0 5px;
    cursor: pointer;
}

.user-table{
    padding: 10px;
    background-color: white;
    overflow: scroll;
}

.view-user-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0; 
    background-color: #2F284E;
    color: white;
}

.view-user-title{
    font-size: 20px;
    font-weight: 600;
    width: 75%;
    text-align: center;
}

.view-close{
    font-size: 22px;
    font-weight: 600;
    margin-right: 20px;
    cursor: pointer;
}

.user-table td{
    /* border: 1px solid black; */
    padding: 7px;
}

.view-modal{
    display: none;
    top: 80px;
    border-radius: 20px;
    position: absolute;
    z-index: 2;
}

.update-modal{
    display: none;
    width: 35%;
    top: 40px;
    border-radius: 20px;
    position: absolute;
    z-index: 2;
}

.delete-modal{
    display: none;
    position: absolute;
    z-index: 2;
    width: 35%;
    background-color: white;
}

.delete-modal .btns{
    margin-bottom: 10px;
}

.update-form{
    padding: 10px 0;
    background-color: white;
}

.update-form, .update-form table{
    width: 100%;
}

.update-user-title{
    text-align: center;
    padding: 15px;
    font-size: 20px;
    font-weight: 600;
    background-color: #2F284E;
    color: white;
}

.delete-user-title{
    text-align: center;
    padding: 10px;
    font-size: 17px;
    font-weight: 600;
    background-color: #2F284E;
    color: white;
}

.update-form td{
    padding: 7px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"],
textarea,
select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid grey;
    width: 90%;
}

.btns{
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
}

.btns button{
    border: none;
    background-color: #2F284E;
    padding: 8px 16px;
    color: white;
    cursor: pointer;
    font-weight: 500;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 14px;
}

.label{
    margin-left: 10px;
}

.delete-confirmation{
    padding: 10px;
    font-size: 18px;
    text-align: center;
}

.notification{
    display: none;
    position: absolute;
    text-align: center;
    padding: 12px;
    border-radius: 6px;
    background-color: white;
    border: 1px solid rgb(7, 76, 7);
    color: rgb(7, 76, 7);
    font-weight: 600;
    top : 4%;
    left: 45%;
    z-index: 2;
}

.tick{
    margin-right: 5px;
}

.search-bar-content{
    margin: 4vh 0;
    width: 50%;
    text-align: center;
}

.search-bar {
    padding: 10px;
    border-radius: 50px;
    border: 1px solid grey;
    width: 70%;
    font-size: 14px;
    padding-left: 15px;
}