* {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main{
    background-color: rgb(240, 239, 239);
}

.header {
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: linear-gradient(90deg, rgba(46, 0, 161, 1) 0%, rgba(199, 87, 87, 1) 100%, rgba(237, 83, 139, 1) 100%);
}

.title {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.right-side{
    display: flex;
    align-items: center;
}

.menu{
    display: flex;
}

.menu li{
    margin: 0 2rem;
}

.menu li:hover{
    cursor: pointer;
}

.profile-img {
    height: 35px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.details{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
}

.detail-card{
    /* border: 1px solid black; */
    margin-top: 4rem;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

td{
    padding: 20px;
}

.detailName{
    font-weight: bold;
}

.options-container{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em;
}

.form{
    /* border: 1px solid black; */
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.options{
    margin: 15px 0 10px 0;
} 

.label{
    margin-right: 10px;
}

.user-ip{
    margin: 15px 0;
    padding: 5px 30px;
}

.user-form{
    display: none;
}

.submit-form{
    padding: 10px 32px;
    border: none;
    background: linear-gradient(90deg, rgba(46, 0, 161, 1) 0%, rgba(199, 87, 87, 1) 100%, rgba(237, 83, 139, 1) 100%);
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.transaction-page{
    /* border: 1px solid black; */
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4em 0;
}

.txn-title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.transaction-page table,.transaction-page tr, .transaction-page th, .transaction-page td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
    text-align: center;
}