* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-container{
    position: fixed;
    width: 100%;
}


.nav-list {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    /* border: 1px solid black; */
    background-image: linear-gradient(to right, #2F284E, #7061b3);
}

a {
    text-decoration: none;
    color: white;
}

.form-content{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 89vh;
    overflow: scroll;
}

.main-form {
    width: 35%;
    margin: 6vh 0;
    height: 113vh;
    color: white;
    padding: 15px;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, #2F284E, #7061b3);
    /* backdrop-filter: blur(19px) saturate(200%);
    -webkit-backdrop-filter: blur(19px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.04);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3); */
}

.pwd-cell{
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-pass{
    font-size: 15px;
    height: 5vh;
    border-radius: 5px;
    margin-top: 2vh;
    width: 25px;
    cursor: pointer;
}

h2 {
    text-align: center;
    margin-bottom: 5vh;
}

td {
    padding: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"],
textarea,
select {
    width: 85%;
    padding: 5px;
    margin-top: 2vh;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid grey;
}

input[type="radio"] {
    margin-left: 10px;
}

.acknowledge {
    margin-right: 5px;
    margin-top: 4vh;
}

.submit-btn {
    text-align: center;
}

.submit-btn button {
    border: none;
    background-color: #2F284E;
    margin-top: 3vh;
    padding: 10px;
    color: white;
    cursor: pointer;
    font-weight: 500;
    border-radius: 5px;
}

.notification{
    display: none;
    position: absolute;
    text-align: center;
    padding: 12px;
    border-radius: 6px;
    background-color: white;
    border: 1px solid rgb(7, 76, 7);
    color: rgb(7, 76, 7);
    font-weight: 600;
    top : 4%;
    left: 45%;
    z-index: 2;
}

.tick{
    margin-right: 5px;
}

.background-overlay {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    top: 0;
    z-index: 1;
}
