* {
    margin: 0;
    list-style-type: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: rgb(10, 184, 10)
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.profile-img {
    height: 35px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.search-div {
    padding: 20px;
    text-align: center;
}

.search-bar {
    width: 40%;
    padding: 9px;
    border-radius: 50px;
}

.main {
    padding: 50px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.card {
    border: 1px solid black;
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 40px;
}

.product {
    text-align: center;
}

.product-img {
    height: 130px;
    width: 130px;
    object-fit: cover;
}

.product-name {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
    text-align: left;
    padding-left: 7px;
}

.product-price {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 7px 7px;
    font-size: 18px;
}

.addToCart {
    padding: 8px;
    background-color: rgb(10, 184, 10);
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
}

.addToCart:hover {
    cursor: pointer;
    background-color: rgb(3, 80, 3);
    color: white;
    box-shadow: 1px 1px 17px 2px rgba(106, 255, 55, 0.43);
}

.addToCart p {
    color: white;
    font-weight: bold;
}

#add,
#minus {
    font-size: 14px;
}

#add:hover,
#minus:hover {
    cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
    .search-bar {
        width: 50%;
    }

    .main {
        grid-template-columns: auto auto auto;
    }
}

@media screen and (min-width: 560px) and (max-width: 767px) {
    .search-bar {
        width: 60%;
    }

    .main {
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 559px) {
    .search-bar {
        width: 70%;
    }

    .main {
        grid-template-columns: auto;
    }
}